.list-container {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.loading-spinner, .empty-message, .error-message {
  padding: 20px;
  text-align: center;
  color: #777;
}

.error-message p {
  color: red;
}

table {
  width: 100%;
}
